# 01. Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# create path

path = path = r'/Users/martyna/Documents/CF Data Analysis/Data Immersion/Achievement 6/COVID Analysis 8.22'

In [3]:
# import covid cases data

df_covid = pd.read_csv(os.path.join(path, '02 Data', 'Original Data','US-COVID-Levels-County.csv'), index_col = False)

In [4]:
df_covid.head(10)

,county,county_fips,state,county_population,health_service_area_number,health_service_area,health_service_area_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated
0,American Samoa,60000,American Samoa,47392.0,901.0,American Samoa,47392.0,0.0,2.1,156.14,Low,3/3/22
1,Guam,66000,Guam,168489.0,902.0,Guam,168489.0,15.2,38.6,833.88,High,3/3/22
2,Commonwealth of the Northern Mariana Islands,69000,Commonwealth of the Northern Mariana Islands,51851.0,903.0,Commonwealth of the Northern Mariana Islands,51851.0,7.2,9.6,1267.09,Medium,3/3/22
3,United States Virgin Islands,78000,United States Virgin Islands,106290.0,905.0,United States Virgin Islands,106290.0,2.4,0.9,78.09,Low,3/3/22
4,American Samoa,60000,American Samoa,47392.0,901.0,American Samoa,47392.0,0.9,19.0,434.67,High,3/10/22
5,Guam,66000,Guam,168489.0,902.0,Guam,168489.0,13.7,77.2,450.47,High,3/10/22
6,Commonwealth of the Northern Mariana Islands,69000,Commonwealth of the Northern Mariana Islands,51851.0,903.0,Commonwealth of the Northern Mariana Islands,51851.0,8.3,3.9,779.16,Medium,3/10/22
7,United States Virgin Islands,78000,United States Virgin Islands,106290.0,905.0,United States Virgin Islands,106290.0,1.4,0.0,31.99,Low,3/10/22
8,American Samoa,60000,American Samoa,47392.0,901.0,American Samoa,47392.0,1.0,6.3,901.00,Medium,3/17/22
9,Guam,66000,Guam,168489.0,902.0,Guam,168489.0,12.3,83.1,385.78,High,3/17/22

# 03. Data wrangling

In [5]:
# check data shape

df_covid.shape

(80600, 12)

##  i. Dropping columns

In [6]:
# dropping columns for irrelevant/redundant information

df_covid_clean = df_covid.drop(['county_fips', 'health_service_area_number', 'health_service_area', 'health_service_area_population'], axis = 1)

In [7]:
df_covid_clean.shape

(80600, 8)

In [8]:
df_covid_clean.head(10)

,county,state,county_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated
0,American Samoa,American Samoa,47392.0,0.0,2.1,156.14,Low,3/3/22
1,Guam,Guam,168489.0,15.2,38.6,833.88,High,3/3/22
2,Commonwealth of the Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,51851.0,7.2,9.6,1267.09,Medium,3/3/22
3,United States Virgin Islands,United States Virgin Islands,106290.0,2.4,0.9,78.09,Low,3/3/22
4,American Samoa,American Samoa,47392.0,0.9,19.0,434.67,High,3/10/22
5,Guam,Guam,168489.0,13.7,77.2,450.47,High,3/10/22
6,Commonwealth of the Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,51851.0,8.3,3.9,779.16,Medium,3/10/22
7,United States Virgin Islands,United States Virgin Islands,106290.0,1.4,0.0,31.99,Low,3/10/22
8,American Samoa,American Samoa,47392.0,1.0,6.3,901.00,Medium,3/17/22
9,Guam,Guam,168489.0,12.3,83.1,385.78,High,3/17/22

## ii. Data types

In [9]:
# checking data types  

df_covid_clean.dtypes

county                                 object
state                                  object
county_population                     float64
covid_inpatient_bed_utilization       float64
covid_hospital_admissions_per_100k    float64
covid_cases_per_100k                  float64
covid-19_community_level               object
date_updated                           object
dtype: object

In [10]:
# checking for mixed data types

for col in df_covid_clean.columns.tolist():
  weird = (df_covid_clean[[col]].applymap(type) != df_covid_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_covid_clean[weird]) > 0:
    print (col)

covid-19_community_level

In [11]:
# changing data type to string

df_covid_clean['covid-19_community_level'] = df_covid_clean['covid-19_community_level'].astype('str')

In [12]:
df_covid_clean['covid-19_community_level'].dtype

dtype('O')

## iii. Duplicates

In [13]:
# finding duplicate values

df_covid_clean[df_covid_clean.duplicated()]

Empty DataFrame
Columns: [county, state, county_population, covid_inpatient_bed_utilization, covid_hospital_admissions_per_100k, covid_cases_per_100k, covid-19_community_level, date_updated]
Index: []

no duplicate values found

## iv. Missing data

In [14]:
df_covid_clean.isnull().sum()

county                                  0
state                                   0
county_population                       5
covid_inpatient_bed_utilization       149
covid_hospital_admissions_per_100k     34
covid_cases_per_100k                    0
covid-19_community_level                0
date_updated                            0
dtype: int64

In [15]:
df_nan = df_covid_clean[df_covid_clean['county_population'].isnull()== True]

In [16]:
df_nan

,county,state,county_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated
9571,Chugach Census Area,Alaska,NaN,NaN,NaN,669.05,nan,3/17/22
9678,Copper River Census Area,Alaska,NaN,NaN,NaN,102.77,nan,3/17/22
18098,Copper River Census Area,Alaska,NaN,NaN,NaN,34.26,nan,3/31/22
18099,Chugach Census Area,Alaska,NaN,NaN,NaN,62.24,nan,3/31/22
37541,United States Virgin Islands,United States Virgin Islands,NaN,7.3,NaN,0.00,Low,5/12/22

Missing 5 values in county population column. However there is still data in the covid_cases_per_100k column. Although there are missing values in the population, we still have information on COVID-19 rates to use for the analysis. Will not remove missing values, cannot change to NA as this will change the data type to mixed and affect analysis.

In [17]:
df_nan2 = df_covid_clean[df_covid_clean['covid_inpatient_bed_utilization'].isnull()== True]

In [18]:
df_nan2

,county,state,county_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated
127,Jackson County,Arkansas,16719.0,NaN,NaN,263.17,nan,2/24/22
2541,Cass County,Texas,30026.0,NaN,NaN,276.43,Medium,2/24/22
2609,Harrison County,Texas,66553.0,NaN,NaN,220.88,Medium,2/24/22
2666,Marion County,Texas,9854.0,NaN,NaN,253.70,Medium,2/24/22
2841,Henry County,Virginia,50557.0,NaN,NaN,458.89,nan,2/24/22
...,...,...,...,...,...,...,...,...
76027,Monroe County,Missouri,8644.0,NaN,0.0,150.39,Low,7/28/22
77773,Monroe County,Missouri,8644.0,NaN,0.0,370.20,Medium,8/11/22
79335,Audrain County,Missouri,25388.0,NaN,0.0,193.00,Low,8/11/22
79356,Montgomery County,Missouri,11551.0,NaN,0.0,225.09,Medium,8/11/22
79792,Commonwealth of the Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,56889.0,NaN,NaN,258.43,nan,8/11/22

There are 149 missing values from the covid_inpatient_bed_utilization column. This is small portion of the dataset, and other columns will be useful for analysis. Will not remove the rows, cannot change to NA as this will change the data type to mixed and affect analysis.

In [19]:
df_nan3 = df_covid_clean[df_covid_clean['covid_hospital_admissions_per_100k'].isnull()== True]

In [20]:
df_nan3

,county,state,county_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated
127,Jackson County,Arkansas,16719.0,NaN,NaN,263.17,nan,2/24/22
2541,Cass County,Texas,30026.0,NaN,NaN,276.43,Medium,2/24/22
2609,Harrison County,Texas,66553.0,NaN,NaN,220.88,Medium,2/24/22
2666,Marion County,Texas,9854.0,NaN,NaN,253.70,Medium,2/24/22
2841,Henry County,Virginia,50557.0,NaN,NaN,458.89,nan,2/24/22
2866,Patrick County,Virginia,17608.0,NaN,NaN,454.34,nan,2/24/22
2916,Martinsville City,Virginia,12554.0,NaN,NaN,565.56,nan,2/24/22
9571,Chugach Census Area,Alaska,NaN,NaN,NaN,669.05,nan,3/17/22
9678,Copper River Census Area,Alaska,NaN,NaN,NaN,102.77,nan,3/17/22
18098,Copper River Census Area,Alaska,NaN,NaN,NaN,34.26,nan,3/31/22
18099,Chugach Census Area,Alaska,NaN,NaN,NaN,62.24,nan,3/31/22
25613,Harrison County,Texas,66553.0,NaN,NaN,136.73,nan,6/30/22
27262,Cass County,Texas,30026.0,NaN,NaN,99.91,nan,6/30/22
37540,Commonwealth of the Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,51851.0,NaN,NaN,46.29,nan,5/12/22
37541,United States Virgin Islands,United States Virgin Islands,NaN,7.3,NaN,0.00,Low,5/12/22
45984,American Samoa,American Samoa,55461.0,NaN,NaN,94.95,nan,5/26/22
47797,Marion County,Texas,9854.0,NaN,NaN,142.07,nan,6/30/22
54821,Cass County,Texas,30026.0,NaN,NaN,93.25,nan,6/16/22
55636,Marion County,Texas,9854.0,NaN,NaN,50.74,nan,6/16/22
56445,Harrison County,Texas,66553.0,NaN,NaN,84.14,nan,6/16/22
58263,Marion County,Texas,9854.0,NaN,NaN,91.33,nan,6/23/22
59024,Cass County,Texas,30026.0,NaN,NaN,126.56,nan,6/23/22
59861,Harrison County,Texas,66553.0,NaN,NaN,136.73,nan,6/23/22
61672,Hardin County,Tennessee,25652.0,NaN,NaN,378.14,nan,7/7/22
62456,McNairy County,Tennessee,25694.0,NaN,NaN,381.41,nan,7/7/22
62507,Marion County,Texas,9854.0,NaN,NaN,60.89,nan,7/7/22
63324,Harrison County,Texas,66553.0,NaN,NaN,210.36,nan,7/7/22
63458,Commonwealth of the Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,56889.0,NaN,NaN,0.00,nan,7/7/22
64087,Cass County,Texas,30026.0,NaN,NaN,209.82,nan,7/7/22
65069,Commonwealth of the Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,56889.0,NaN,NaN,702.01,nan,7/14/22
68290,Commonwealth of the Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,56889.0,NaN,NaN,395.36,nan,7/21/22
73998,American Samoa,American Samoa,55461.0,NaN,NaN,1014.94,nan,8/4/22
74827,Commonwealth of the Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,56889.0,NaN,NaN,337.51,nan,7/28/22
79792,Commonwealth of the Northern Mariana Islands,Commonwealth of the Northern Mariana Islands,56889.0,NaN,NaN,258.43,nan,8/11/22

There are 34 missing values in covid_hospital_admissions_per_100k. Once again this is a small portion of the data set, other columns are useful for analysis, will not remove the rows. Cannot replace with NA as this will change the data type to mixed and affect analysis.

## v. Descriptive statistics

In [21]:
df_covid_clean.describe()

,county_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k
count,8.059500e+04,80451.000000,80566.000000,80600.000000
mean,1.029197e+05,3.114527,7.299820,145.618164
std,3.293673e+05,2.805408,6.930791,202.768115
min,8.600000e+01,0.000000,0.000000,0.000000
25%,1.113100e+04,1.100000,2.500000,36.547500
50%,2.611800e+04,2.500000,5.800000,101.200000
75%,6.721500e+04,4.300000,10.200000,199.020000
max,1.003911e+07,36.000000,171.200000,13017.750000

The statistics seem reasonable for the dataset. No changes

In [22]:
df_covid_clean.shape

(80600, 8)

# 04. Importing extra smaller data sets

## i. Vaccination data set

In [23]:
# import state vaccination data

df_vax = pd.read_csv(os.path.join(path, '02 Data', 'Original Data','covid19-vaccinations.csv'), index_col = False)

In [24]:
df_vax.head()

,State/Territory/Federal Entity,Total Doses Distributed,Doses Distributed per 100K,18+ Doses Distributed per 100K,Total Doses Administered by State where Administered,Doses Administered per 100k by State where Administered,18+ Doses Administered by State where Administered,18+ Doses Administered per 100K by State where Administered,People with at least One Dose by State of Residence,Percent of Total Pop with at least One Dose by State of Residence,...,People with a Second Booster Dose,People 50+ with a Second Booster Dose,Percent of People 50+ with First Booster Dose who Received Second Booster Dose,People 65+ with a Second Booster Dose,Percent of People 65+ with First Booster Dose who Received Second Booster Dose,People with Pfizer Second Booster Dose,People with Moderna Second Booster Dose,People with Janssen Second Booster Dose,People with Second Booster Dose of Other Manufacturer,Children <5 with at least One Dose
0,United States,799444535,240790.0,309603.0,606162842,182574.0,546209579,211532.0,261981618,78.9,...,22299699.0,21064657,32.7,14135707,39.8,11685804,10577307,19601,16734,862099.0
1,Alaska,1732765,236864.0,314156.0,1197172,163650.0,1066236,193312.0,521311,71.3,...,NaN,39808,33.2,24425,40.1,19934,22552,56,14,NaN
2,Alabama,10551040,215187.0,276576.0,6525635,133090.0,6075461,159257.0,3127008,63.8,...,NaN,161345,23.0,116557,27.2,77669,91925,267,14,NaN
3,Arkansas,6893480,228427.0,297434.0,4435639,146982.0,4038887,174267.0,2051724,68.0,...,NaN,139618,29.5,101611,35.4,67873,77742,83,92,NaN
4,American Samoa,123210,259981.0,393202.0,113181,238819.0,84267,268923.0,45758,95.0,...,NaN,1700,20.6,711,30.2,1364,424,0,0,NaN

In [25]:
df_vax.shape

(64, 92)

In [26]:
# change column name to match and merge

df_vax.rename(columns = {'State/Territory/Federal Entity' : 'state'}, inplace = True)

In [27]:
df_vax.head()

,state,Total Doses Distributed,Doses Distributed per 100K,18+ Doses Distributed per 100K,Total Doses Administered by State where Administered,Doses Administered per 100k by State where Administered,18+ Doses Administered by State where Administered,18+ Doses Administered per 100K by State where Administered,People with at least One Dose by State of Residence,Percent of Total Pop with at least One Dose by State of Residence,...,People with a Second Booster Dose,People 50+ with a Second Booster Dose,Percent of People 50+ with First Booster Dose who Received Second Booster Dose,People 65+ with a Second Booster Dose,Percent of People 65+ with First Booster Dose who Received Second Booster Dose,People with Pfizer Second Booster Dose,People with Moderna Second Booster Dose,People with Janssen Second Booster Dose,People with Second Booster Dose of Other Manufacturer,Children <5 with at least One Dose
0,United States,799444535,240790.0,309603.0,606162842,182574.0,546209579,211532.0,261981618,78.9,...,22299699.0,21064657,32.7,14135707,39.8,11685804,10577307,19601,16734,862099.0
1,Alaska,1732765,236864.0,314156.0,1197172,163650.0,1066236,193312.0,521311,71.3,...,NaN,39808,33.2,24425,40.1,19934,22552,56,14,NaN
2,Alabama,10551040,215187.0,276576.0,6525635,133090.0,6075461,159257.0,3127008,63.8,...,NaN,161345,23.0,116557,27.2,77669,91925,267,14,NaN
3,Arkansas,6893480,228427.0,297434.0,4435639,146982.0,4038887,174267.0,2051724,68.0,...,NaN,139618,29.5,101611,35.4,67873,77742,83,92,NaN
4,American Samoa,123210,259981.0,393202.0,113181,238819.0,84267,268923.0,45758,95.0,...,NaN,1700,20.6,711,30.2,1364,424,0,0,NaN

In [28]:
pd.set_option('display.max_columns', None)

In [29]:
df_vax.head()

,state,Total Doses Distributed,Doses Distributed per 100K,18+ Doses Distributed per 100K,Total Doses Administered by State where Administered,Doses Administered per 100k by State where Administered,18+ Doses Administered by State where Administered,18+ Doses Administered per 100K by State where Administered,People with at least One Dose by State of Residence,Percent of Total Pop with at least One Dose by State of Residence,People 18+ with at least One Dose by State of Residence,Percent of 18+ Pop with at least One Dose by State of Residence,People Fully Vaccinated by State of Residence,Percent of Total Pop Fully Vaccinated by State of Residence,People 18+ Fully Vaccinated by State of Residence,Percent of 18+ Pop Fully Vaccinated by State of Residence,Total Number of Pfizer doses distributed,Total Number of Moderna doses distributed,Total Number of Janssen doses distributed,Total Number of Novavax doses distributed,Total Number of doses from Other manufacturer distributed,Total Number of Janssen doses administered,Total Number of Moderna doses administered,Total Number of Pfizer doses adminstered,Total Number of Novavax doses administered,Total Number of doses from Other manufacturer administered,People Fully Vaccinated Moderna Resident,People Fully Vaccinated Pfizer Resident,People Fully Vaccinated Janssen Resident,People Fully Vaccinated Novavax Resident,People Fully Vaccinated Other 2-dose manufacturer Resident,People 18+ Fully Vaccinated Moderna Resident,People 18+ Fully Vaccinated Pfizer Resident,People 18+ Fully Vaccinated Janssen Resident,People 18+ Fully Vaccinated Other 2-dose manufacturer Resident,People 65+ with at least One Dose by State of Residence,Percent of 65+ Pop with at least One Dose by State of Residence,People 65+ Fully Vaccinated by State of Residence,Percent of 65+ Pop Fully Vaccinated by State of Residence,People 65+ Fully Vaccinated_Moderna_Resident,People 65+ Fully Vaccinated_Pfizer_Resident,People 65+ Fully Vaccinated_Janssen_Resident,People 65+ Fully Vaccinated_Other 2-dose Manuf_Resident,65+ Doses Administered by State where Administered,Doses Administered per 100k of 65+ pop by State where Administered,Doses Distributed per 100K of 65+ pop,People 12+ with at least One Dose by State of Residence,Percent of 12+ Pop with at least One Dose by State of Residence,People 12+ Fully Vaccinated by State of Residence,Percent of 12+ Pop Fully Vaccinated by State of Residence,People 12+ Fully Vaccinated_Moderna_Resident,People 12+ Fully Vaccinated_Pfizer_Resident,People 12+ Fully Vaccinated_Janssen_Resident,People 12+ Fully Vaccinated_Other 2-dose Manuf_Resident,12+ Doses Administered by State where Administered,Doses Administered per 100k of 12+ pop by State where Administered,Doses Distributed per 100K of 12+ pop,People 5+ with at least One Dose by State of Residence,Percent of 5+ Pop with at least One Dose by State of Residence,People 5+ Fully Vaccinated by State of Residence,Percent of 5+ Pop Fully Vaccinated by State of Residence,People 5+ Fully Vaccinated_Moderna_Resident,People 5+ Fully Vaccinated_Pfizer_Resident,People 5+ Fully Vaccinated_Janssen_Resident,People 5+ Fully Vaccinated_Other 2-dose Manuf_Resident,5+ Doses Administered by State where Administered,Doses Administered per 100k of 5+ pop by State where Administered,Doses Distributed per 100K of 5+ pop,People with a first booster dose,Percent of fully vaccinated people with a first booster dose,People 5+ with a first booster dose,Percent of fully vaccinated people 5+ with a first booster dose,People 12+ with a first booster dose,Percent of fully vaccinated people 12+ with a first booster dose,People 18+ with a first booster dose,Percent of fully vaccinated people 18+ with a first booster dose,People 65+ with a first booster dose,Percent of fully vaccinated people 65+ with a first booster dose,People with Moderna first booster dose,People with Pfizer first booster dose,People with Janssen first booster dose,People with first booster dose of an Other manufacturer,People with a Second Booster Dose,People 50+ with a Second Booster Dose,Percent of People 50+ with First Booster Dose who Received Second Booster Dose,People 65+ with a Second Booster Dose,Percent of People 65+ with First Booster Dose who Received Second Booster Dose,People with Pfizer Second Booster Dose,People with Moderna Second Booster Dose,People with Janssen Second Booster Dose,People with Second Booster Dose of Other Manufacturer,Children <5 with at least One Dose
0,United States,799444535,240790.0,309603.0,606162842,182574.0,546209579,211532.0,261981618,78.9,232341244,90.0,223457170,67.3,199298593,77.2,469478175,298329060,31136600,500700,0,18845464,228323295,358354212,9766,630105,77647511,128558022,17064965,2472,178784,77403400,104694486,17032311,166598,57384582,95.0,50357418,91.9,23985600,23936107,2364546,70857,157645803,287717,1459050,250151235,88.2,214538146,75.7,77490204,119811235,17059916,174849,583915963,205952,281971,260952315,83.6,223233225,71.5,77504711,128485859,17061903,178315,604695886,193648,256015,107872738,48.3,107871112,48.3,106804423,49.8,102485754,51.4,35486467,70.5,45690388,60597054,1541372,43167,22299699.0,21064657,32.7,14135707,39.8,11685804,10577307,19601,16734,862099.0
1,Alaska,1732765,236864.0,314156.0,1197172,163650.0,1066236,193312.0,521311,71.3,457954,83.0,462264,63.2,407626,73.9,975045,670520,85800,1400,0,45988,462252,687608,14,1310,162627,257189,42151,4,287,161632,203740,41982,269,88301,95.0,79838,87.2,43765,32294,3720,58,244913,267407,1891910,494877,81.3,441115,72.4,162071,236613,42147,281,1146021,188219,284584,518664,76.2,461409,67.8,162159,256810,42149,287,1193260,175359,254644,216145,46.8,216134,46.8,213587,48.4,203431,49.9,60851,76.2,93409,119554,3114,68,NaN,39808,33.2,24425,40.1,19934,22552,56,14,NaN
2,Alabama,10551040,215187.0,276576.0,6525635,133090.0,6075461,159257.0,3127008,63.8,2882393,75.6,2550007,52.0,2367064,62.0,5513880,4625060,400000,12100,0,178383,2845278,3501269,38,667,1045198,1336338,167590,6,842,1044546,1154197,167480,835,825311,95.0,709073,83.4,376458,294992,37138,485,2013056,236876,1241540,3051653,72.9,2500967,59.7,1045080,1287465,167575,841,6394288,152722,252002,3122732,67.8,2549774,55.3,1045116,1336229,167581,842,6520337,141475,228931,960736,37.7,960735,37.7,957249,38.3,936330,39.6,427747,60.3,468161,476138,16256,168,NaN,161345,23.0,116557,27.2,77669,91925,267,14,NaN
3,Arkansas,6893480,228427.0,297434.0,4435639,146982.0,4038887,174267.0,2051724,68.0,1840630,79.4,1672829,55.4,1510913,65.2,3703260,2910920,258300,21000,0,125129,1897202,2408882,416,4010,676315,880065,114867,392,1172,674659,720886,114282,1083,507780,95.0,428907,81.9,240339,172166,15863,539,1303422,248801,1315850,1977965,77.3,1622187,63.4,675897,830414,114734,1138,4306374,168399,269566,2045602,72.3,1671494,59.1,675975,879245,114744,1169,4427439,156483,243643,698526,41.8,698504,41.8,694066,42.8,672948,44.5,286844,66.9,335137,352525,10297,565,NaN,139618,29.5,101611,35.4,67873,77742,83,92,NaN
4,American Samoa,123210,259981.0,393202.0,113181,238819.0,84267,268923.0,45758,95.0,32569,95.0,42156,89.0,29855,95.0,97910,24700,600,0,0,578,25175,86198,0,1230,9521,31435,588,0,612,9498,19163,587,607,3236,95.0,2980,90.9,1216,1722,29,13,9133,278615,3758690,39308,95.0,36227,95.0,9520,25508,588,611,100719,272826,333749,45746,95.0,42156,95.0,9521,31435,588,612,113169,262512,285804,24143,57.3,24143,57.3,24125,66.6,20824,69.8,2358,79.1,4865,19274,2,2,NaN,1700,20.6,711,30.2,1364,424,0,0,NaN

In [30]:
# create subset with necessary columns

df_vax_small = df_vax[['state', 'Total Doses Distributed', 'Doses Distributed per 100K', 'Percent of Total Pop with at least One Dose by State of Residence', 'People Fully Vaccinated by State of Residence', 'Percent of Total Pop Fully Vaccinated by State of Residence']]

In [31]:
df_vax_small.head()

,state,Total Doses Distributed,Doses Distributed per 100K,Percent of Total Pop with at least One Dose by State of Residence,People Fully Vaccinated by State of Residence,Percent of Total Pop Fully Vaccinated by State of Residence
0,United States,799444535,240790.0,78.9,223457170,67.3
1,Alaska,1732765,236864.0,71.3,462264,63.2
2,Alabama,10551040,215187.0,63.8,2550007,52.0
3,Arkansas,6893480,228427.0,68.0,1672829,55.4
4,American Samoa,123210,259981.0,95.0,42156,89.0

In [32]:
df_vax_small.shape

(64, 6)

In [33]:
# change column names

df_vax_small.rename(columns = {'Total Doses Distributed' : 'total_doses_given'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/181491846.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vax_small.rename(columns = {'Total Doses Distributed' : 'total_doses_given'}, inplace = True)

In [34]:
df_vax_small.rename(columns = {'Doses Distributed per 100K' : 'doses_per_100k'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/4034901527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vax_small.rename(columns = {'Doses Distributed per 100K' : 'doses_per_100k'}, inplace = True)

In [35]:
df_vax_small.rename(columns = {'Percent of Total Pop with at least One Dose by State of Residence' : 'percent_with_at_least_one_dose'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/3240365430.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vax_small.rename(columns = {'Percent of Total Pop with at least One Dose by State of Residence' : 'percent_with_at_least_one_dose'}, inplace = True)

In [36]:
df_vax_small.rename(columns = {'People Fully Vaccinated by State of Residence' : 'people_fully_vaccinated'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/3057078437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vax_small.rename(columns = {'People Fully Vaccinated by State of Residence' : 'people_fully_vaccinated'}, inplace = True)

In [37]:
df_vax_small.rename(columns = {'Percent of Total Pop Fully Vaccinated by State of Residence' : 'percent_fully_vaccinated'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/27034103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vax_small.rename(columns = {'Percent of Total Pop Fully Vaccinated by State of Residence' : 'percent_fully_vaccinated'}, inplace = True)

In [38]:
df_vax_small.head()

,state,total_doses_given,doses_per_100k,percent_with_at_least_one_dose,people_fully_vaccinated,percent_fully_vaccinated
0,United States,799444535,240790.0,78.9,223457170,67.3
1,Alaska,1732765,236864.0,71.3,462264,63.2
2,Alabama,10551040,215187.0,63.8,2550007,52.0
3,Arkansas,6893480,228427.0,68.0,1672829,55.4
4,American Samoa,123210,259981.0,95.0,42156,89.0

In [39]:
# check data types

df_vax_small.dtypes

state                              object
total_doses_given                   int64
doses_per_100k                    float64
percent_with_at_least_one_dose    float64
people_fully_vaccinated             int64
percent_fully_vaccinated          float64
dtype: object

In [40]:
# checking for mixed data types

for col in df_vax_small.columns.tolist():
  weird = (df_vax_small[[col]].applymap(type) != df_vax_small[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_vax_small[weird]) > 0:
    print (col)

no columns printed, no mixed type columns

In [41]:
# check duplicates 

df_vax_small[df_vax_small.duplicated()]

Empty DataFrame
Columns: [state, total_doses_given, doses_per_100k, percent_with_at_least_one_dose, people_fully_vaccinated, percent_fully_vaccinated]
Index: []

no duplicates

In [42]:
# check missing values 

df_vax_small.isnull().sum()

state                             0
total_doses_given                 0
doses_per_100k                    3
percent_with_at_least_one_dose    3
people_fully_vaccinated           0
percent_fully_vaccinated          3
dtype: int64

In [43]:
df_vax_nan = df_vax_small[df_vax_small['doses_per_100k'].isnull()== True]

In [44]:
df_vax_nan

,state,total_doses_given,doses_per_100k,percent_with_at_least_one_dose,people_fully_vaccinated,percent_fully_vaccinated
6,Bureau of Prisons,367230,NaN,NaN,137500,NaN
11,Dept of Defense,6931410,NaN,NaN,3385029,NaN
57,Veterans Health,8569020,NaN,NaN,2978547,NaN

Total 9 missing values from 3 rows, other information in rows useful for analysis, will not remove. Will not replace to avoid creating mixed data type.

In [45]:
df_vax_small.shape

(64, 6)

## ii. COVID-19 cases and deaths data set

In [46]:
# import state COVID-19 cases and deaths data

df_cases = pd.read_csv(os.path.join(path, '02 Data', 'Original Data','US-cases-deaths-tesing.csv'), index_col = False)

In [47]:
df_cases.head()

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,Death Rate per 100000,7-Day Cases Rate per 100000,7-Day Death Rate per 100000,Total % Positive,% Positive Last 30 Days,% Positive Last 7 Days,# Tests per 100K,Total # Tests,# Tests per 100K Last 7 Days,Total # Tests Last 7 Days,# Tests per 100K Last 30 Days,Total # Tests Last 30 Days,New Cases,New Deaths
0,Alabama,1451998.0,1034836.0,417162.0,13181.0,29613.0,20027.0,15336.0,4691.0,4.0,408.0,268.8,0.1,10-14.9%,25% +,20-24.9%,163657.7188,8054467.0,726.79,35769.0,3337.15,164239.0,1936.0,0.0
1,Alaska,275542.0,0.0,0.0,1868.0,37666.0,1296.0,NaN,NaN,21.0,177.0,255.4,2.9,5-7.9%,20-24.9%,20-24.9%,577816.8330,4224754.0,1532.09,11202.0,6698.83,48979.0,0.0,0.0
2,American Samoa,8042.0,0.0,0.0,90.0,16969.0,33.0,NaN,NaN,0.0,69.0,189.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,Arizona,2224964.0,1953161.0,271803.0,13501.0,30568.0,30901.0,26882.0,4019.0,59.0,424.0,185.5,0.8,10-14.9%,25% +,20-24.9%,207185.5705,15376072.0,531.52,39446.0,2341.40,173765.0,0.0,0.0
4,Arkansas,914619.0,0.0,0.0,6229.0,30307.0,11804.0,NaN,NaN,59.0,391.0,206.4,2.0,10-14.9%,15-19.9%,15-19.9%,164707.1033,4991485.0,659.66,19991.0,3168.00,96007.0,1265.0,10.0

In [48]:
# make subset with relevant data

df_cases_small = df_cases[['State/Territory', 'Total Cases', 'Case Rate per 100000', 'Total Deaths', 'Death Rate per 100000', 'Total % Positive']]

In [49]:
df_cases_small.head()

,State/Territory,Total Cases,Case Rate per 100000,Total Deaths,Death Rate per 100000,Total % Positive
0,Alabama,1451998.0,29613.0,20027.0,408.0,10-14.9%
1,Alaska,275542.0,37666.0,1296.0,177.0,5-7.9%
2,American Samoa,8042.0,16969.0,33.0,69.0,NaN
3,Arizona,2224964.0,30568.0,30901.0,424.0,10-14.9%
4,Arkansas,914619.0,30307.0,11804.0,391.0,10-14.9%

In [50]:
# change column names to match and merge

df_cases_small.rename(columns = {'State/Territory' : 'state'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/3547192698.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cases_small.rename(columns = {'State/Territory' : 'state'}, inplace = True)

In [51]:
df_cases_small.rename(columns = {'Total Cases' : 'total_cases'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/63915509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cases_small.rename(columns = {'Total Cases' : 'total_cases'}, inplace = True)

In [52]:
df_cases_small.rename(columns = {'Case Rate per 100000' : 'case_rate_per_100k'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/123259783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cases_small.rename(columns = {'Case Rate per 100000' : 'case_rate_per_100k'}, inplace = True)

In [53]:
df_cases_small.rename(columns = {'Total Deaths' : 'total_deaths'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/3009287234.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cases_small.rename(columns = {'Total Deaths' : 'total_deaths'}, inplace = True)

In [54]:
df_cases_small.rename(columns = {'Death Rate per 100000' : 'death_rate_per_100k'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/4197362344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cases_small.rename(columns = {'Death Rate per 100000' : 'death_rate_per_100k'}, inplace = True)

In [55]:
df_cases_small.rename(columns = {'Total % Positive' : 'total_percent_positive'}, inplace = True)

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/831896674.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cases_small.rename(columns = {'Total % Positive' : 'total_percent_positive'}, inplace = True)

In [56]:
df_cases_small.head()

,state,total_cases,case_rate_per_100k,total_deaths,death_rate_per_100k,total_percent_positive
0,Alabama,1451998.0,29613.0,20027.0,408.0,10-14.9%
1,Alaska,275542.0,37666.0,1296.0,177.0,5-7.9%
2,American Samoa,8042.0,16969.0,33.0,69.0,NaN
3,Arizona,2224964.0,30568.0,30901.0,424.0,10-14.9%
4,Arkansas,914619.0,30307.0,11804.0,391.0,10-14.9%

In [57]:
# check data types

df_cases_small.dtypes

state                      object
total_cases               float64
case_rate_per_100k        float64
total_deaths              float64
death_rate_per_100k       float64
total_percent_positive     object
dtype: object

In [58]:
# checking for mixed data types

for col in df_cases_small.columns.tolist():
  weird = (df_cases_small[[col]].applymap(type) != df_cases_small[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cases_small[weird]) > 0:
    print (col)

total_percent_positive

In [59]:
# changing data type to string

df_cases_small['total_percent_positive'] = df_cases_small['total_percent_positive'].astype('str')

/var/folders/gd/zq96wcpj6d54521g77cwf7sh0000gn/T/ipykernel_25107/3153078406.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cases_small['total_percent_positive'] = df_cases_small['total_percent_positive'].astype('str')

In [60]:
df_cases_small['total_percent_positive'].dtype

dtype('O')

In [61]:
# check duplicates 

df_cases_small[df_cases_small.duplicated()]

Empty DataFrame
Columns: [state, total_cases, case_rate_per_100k, total_deaths, death_rate_per_100k, total_percent_positive]
Index: []

no duplicates

In [62]:
# check missing values 

df_cases_small.isnull().sum()

state                     0
total_cases               1
case_rate_per_100k        1
total_deaths              1
death_rate_per_100k       1
total_percent_positive    0
dtype: int64

In [63]:
df_cases_nan = df_cases_small[df_cases_small['total_cases'].isnull()== True]

In [64]:
df_cases_nan

,state,total_cases,case_rate_per_100k,total_deaths,death_rate_per_100k,total_percent_positive
10,Federated States of Micronesia,NaN,NaN,NaN,NaN,nan

No values in entire row, will remove.

In [65]:
df_cases_small = df_cases_small.drop(labels=10, axis=0)

In [66]:
df_cases_small.head(15)

,state,total_cases,case_rate_per_100k,total_deaths,death_rate_per_100k,total_percent_positive
0,Alabama,1451998.0,29613.0,20027.0,408.0,10-14.9%
1,Alaska,275542.0,37666.0,1296.0,177.0,5-7.9%
2,American Samoa,8042.0,16969.0,33.0,69.0,nan
3,Arizona,2224964.0,30568.0,30901.0,424.0,10-14.9%
4,Arkansas,914619.0,30307.0,11804.0,391.0,10-14.9%
5,California,10844550.0,27446.0,93193.0,235.0,nan
6,Colorado,1612701.0,28004.0,13073.0,227.0,8-9.9%
7,Connecticut,863132.0,24209.0,11164.0,313.0,5-7.9%
8,Delaware,297879.0,30590.0,3028.0,310.0,8-9.9%
9,District of Columbia,164373.0,23291.0,1374.0,194.0,3-4.9%
11,Florida,6909415.0,32170.0,78556.0,365.0,10-14.9%
12,Georgia,2803517.0,26405.0,39319.0,370.0,10-14.9%
13,Guam,56625.0,33608.0,385.0,228.0,10-14.9%
14,Hawaii,324519.0,22920.0,1594.0,112.0,5-7.9%
15,Idaho,483255.0,27042.0,5059.0,283.0,15-19.9%

# 05. Merging data sets

In [67]:
# merge covid county data set with vaccine data set

df_covid_merge = df_covid_clean.merge(df_vax_small, on ='state', indicator = True)

In [68]:
df_covid_merge.head()

,county,state,county_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated,total_doses_given,doses_per_100k,percent_with_at_least_one_dose,people_fully_vaccinated,percent_fully_vaccinated,_merge
0,American Samoa,American Samoa,47392.0,0.0,2.1,156.14,Low,3/3/22,123210,259981.0,95.0,42156,89.0,both
1,American Samoa,American Samoa,47392.0,0.9,19.0,434.67,High,3/10/22,123210,259981.0,95.0,42156,89.0,both
2,American Samoa,American Samoa,47392.0,1.0,6.3,901.00,Medium,3/17/22,123210,259981.0,95.0,42156,89.0,both
3,American Samoa,American Samoa,47392.0,10.4,0.0,1093.01,High,4/14/22,123210,259981.0,95.0,42156,89.0,both
4,American Samoa,American Samoa,47392.0,4.1,80.2,267.98,High,4/21/22,123210,259981.0,95.0,42156,89.0,both

In [69]:
df_covid_merge.shape

(79002, 14)

In [70]:
# drop _merge column

df_covid_merge = df_covid_merge.drop(['_merge'], axis=1)

In [71]:
# merge covid case and deaths data set with merged data set

df_covid_merged = df_covid_merge.merge(df_cases_small, on ='state', indicator = True)

In [72]:
df_covid_merged.head(20)

,county,state,county_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated,total_doses_given,doses_per_100k,percent_with_at_least_one_dose,people_fully_vaccinated,percent_fully_vaccinated,total_cases,case_rate_per_100k,total_deaths,death_rate_per_100k,total_percent_positive,_merge
0,American Samoa,American Samoa,47392.0,0.0,2.1,156.14,Low,3/3/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
1,American Samoa,American Samoa,47392.0,0.9,19.0,434.67,High,3/10/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
2,American Samoa,American Samoa,47392.0,1.0,6.3,901.00,Medium,3/17/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
3,American Samoa,American Samoa,47392.0,10.4,0.0,1093.01,High,4/14/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
4,American Samoa,American Samoa,47392.0,4.1,80.2,267.98,High,4/21/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
5,American Samoa,American Samoa,47392.0,4.7,10.6,324.95,High,4/28/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
6,American Samoa,American Samoa,47392.0,2.1,2.1,118.16,Low,5/5/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
7,American Samoa,American Samoa,47392.0,1.8,0.0,248.99,Medium,5/12/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
8,American Samoa,American Samoa,47392.0,2.8,19.0,3143.99,High,3/31/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
9,American Samoa,American Samoa,47392.0,1.6,25.3,2561.61,high,3/24/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
10,American Samoa,American Samoa,47392.0,15.2,48.5,3238.94,High,4/7/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
11,American Samoa,American Samoa,55461.0,0.2,0.0,156.14,Low,5/19/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
12,American Samoa,American Samoa,55461.0,NaN,NaN,94.95,nan,5/26/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
13,American Samoa,American Samoa,55461.0,0.7,5.4,173.02,Low,6/2/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
14,American Samoa,American Samoa,55461.0,1.1,12.6,151.92,Medium,6/30/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
15,American Samoa,American Samoa,55461.0,0.3,3.6,0.00,Low,6/9/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
16,American Samoa,American Samoa,55461.0,1.0,5.4,164.58,Low,6/16/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
17,American Samoa,American Samoa,55461.0,3.4,10.8,0.00,Medium,7/28/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
18,American Samoa,American Samoa,55461.0,1.1,7.2,151.92,Low,6/23/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both
19,American Samoa,American Samoa,55461.0,3.2,43.3,192.02,High,7/7/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan,both

In [73]:
df_covid_merged.shape

(79002, 19)

In [74]:
df_covid_merged = df_covid_merged.drop(['_merge'], axis=1)

In [75]:
df_covid_merged.head(5)

,county,state,county_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated,total_doses_given,doses_per_100k,percent_with_at_least_one_dose,people_fully_vaccinated,percent_fully_vaccinated,total_cases,case_rate_per_100k,total_deaths,death_rate_per_100k,total_percent_positive
0,American Samoa,American Samoa,47392.0,0.0,2.1,156.14,Low,3/3/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan
1,American Samoa,American Samoa,47392.0,0.9,19.0,434.67,High,3/10/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan
2,American Samoa,American Samoa,47392.0,1.0,6.3,901.00,Medium,3/17/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan
3,American Samoa,American Samoa,47392.0,10.4,0.0,1093.01,High,4/14/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan
4,American Samoa,American Samoa,47392.0,4.1,80.2,267.98,High,4/21/22,123210,259981.0,95.0,42156,89.0,8042.0,16969.0,33.0,69.0,nan

In [76]:
df_covid_merged.shape

(79002, 18)

# 06. Export data

In [77]:
# Exporting as csv file

df_covid_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'covid_merged.csv'))